@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Sheep-sans';
  src: url('../assets/fonts/sheep/sheepsans.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Sheep-sans';
  src: url('../assets/fonts/sheep/sheepsansbold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-thin';
  src: url('../assets/fonts/analogue/analogue35thin.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-thin';
  src: url('../assets/fonts/analogue/analogue36thinoblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-light';
  src: url('../assets/fonts/analogue/analogue45light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-light';
  src: url('../assets/fonts/analogue/analogue46lightoblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-regular';
  src: url('../assets/fonts/analogue/analogue55regular.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-regular';
  src: url('../assets/fonts/analogue/analogue56oblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-medium';
  src: url('../assets/fonts/analogue/analogue65medium.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-medium';
  src: url('../assets/fonts/analogue/analogue66mediumoblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-bold';
  src: url('../assets/fonts/analogue/analogue75bold.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-bold';
  src: url('../assets/fonts/analogue/analogue76boldoblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-black';
  src: url('../assets/fonts/analogue/analogue85black.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Analogue-black';
  src: url('../assets/fonts/analogue/analogue86blackoblique.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bastardussans';
  src: url('../assets/fonts/bastardussans/bastardussans.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arabicfont';
  src: url('../assets/fonts/arabicfont/arabic-font-2013.ttf');
  font-weight: 400;
  font-style: normal;
}